<h1>Create Venue</h1>

<form action="/new" method="post" accept-charset="utf-8">
  <label for="name">Venue Name: </label>    <input placeholder="Your Venue" name="name" value=""><br/>
  <label for="address1">Address: </label>   <input name="address1" value=""><br/>
                                            <input name="address2" value=""><br/>
                                            <input name="address3" value=""><br/>
  <label for="postcode">Postcode: </label>  <input placeholder="AB12 3CD" name="postcode" value=""><br/>
  <label for="phone">Phone: </label>        <input placeholder="01234 567 890" name="phone" value=""><br/>
  <label for="email">Email: </label>        <input placeholder="example@example.com" name="email" type="email" value=""><br/>
  <label for="url">Website: </label>        <input placeholder="http://example.com" name="url" type="url" value=""><br/>
  <label for="longitude">Long: </label>     <input name="longitude" value=""><br/>
  <label for="latitude">Lat: </label>       <input name="latitude" value=""><br/>
  <label for="name">Active: </label>        <input name="active" type="checkbox"  value="active"><br/>
                                            <input type="submit" name="Submit" value="Save Changes"><br/>
                                            
</form>


