<header>
  <h1>Create Venue</h1>
</header>

<form class="row" action="/new" method="post" accept-charset="utf-8">
  <div class="span8">
    <div class="clearfix"><label for="name">Venue Name: </label>    <div class="input"><input placeholder="Your Venue" name="name" value=""><br/></div></div>
    <div class="clearfix"><label for="address1">Address: </label>   <div class="input"><input name="address1" value=""><br/></div>
                                                                    <div class="input"><input name="address2" value=""><br/></div>
                                                                    <div class="input"><input name="address3" value=""><br/></div></div>
    <div class="clearfix"><label for="postcode">Postcode: </label>  <div class="input"><input placeholder="AB12 3CD" name="postcode" value=""><br/></div></div>
    <div class="clearfix">                                          <div class="input"><input type="button" id="get-ll" class="btn small" value="Find Lat/Long"><br /></div></div>
  </div>
  <div class="span8">
    <div class="clearfix"><label for="phone">Phone: </label>        <div class="input"><input placeholder="01234 567 890" name="phone" value=""><br/></div></div>
    <div class="clearfix"><label for="email">Email: </label>        <div class="input"><input placeholder="example@example.com" name="email" type="email" value=""><br/></div></div>
    <div class="clearfix"><label for="url">Website: </label>        <div class="input"><input placeholder="http://example.com" name="url" type="url" value=""><br/></div></div>
    <div class="clearfix"><label for="longitude">Long: </label>     <div class="input"><input name="longitude" value=""><br/></div></div>
    <div class="clearfix"><label for="latitude">Lat: </label>       <div class="input"><input name="latitude" value=""><br/></div></div>
  </div>
  
  <div class="row">
    <div class="actions">
      <input type="submit" class="btn primary" value="Save Changes">
      &nbsp;<input type="reset" class="btn" value="Cancel">
    </div>
  </div>                                         
</form>


