<div id="wrapper">
  <h1>KnightFinder</h1>
  <h2>It's on the way...</h2>
</div>
<div id="topbar">
  <a href="#" id="signin-link">Sign In</a>
</div>
<form action="/" method="post" id="signin-form">
  <label for="username">Email &nbsp;</label>
  <input type="text" name="username" />
  <label for="password">Password &nbsp;</label>
  <input type="password" name="password"  />
  <input type="submit" value="Sign In" name="submit" class="btn primary submit" />
</form>