<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]--> 
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]--> 
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]--> 
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]--> 
<!--[if (gte IE 9)|!(IE)]><!--> 
<html class="no-js" lang="en"> 
  <!--<![endif]--> 
  <head> 
    <meta charset="utf-8" />
    <title>KnightFinder</title>
    <link rel="stylesheet" href="/css/bootstrap-1.2.0.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="chrome=1"> <!-- Chrome Frame Compatibility-->
    <script src="js/modernizr.custom.60979.js"></script>
    <script src="https://www.google.com/jsapi?key=ABQIAAAAnxA5op8H9hGU76J_gc5jlRRldTRvolzTtbbPz8ZzUDH9XU-MPRQIHthW-PvIOWqcd1oXE6SL6nZaXg"></script>
    <script>
      google.load("jquery", "1.6.3");
    </script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="/js/jquery.timeago.js"></script>
    <script src="/js/application.js"></script>
  </head>
  <body>
  
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h3><a href="/">KnightFinder</a></h3>
          <ul>
            <li class="active"><a href="#">Dashboard</a></li>
            <li><a href="/new">New Venue</a></li>
          </ul>
        </div>
      </div><!-- /fill -->
    </div>
  
    <div class="wrapper">
      <div class="container" role="main">
        <%= yield %>
      </div>
    </div>
    <footer>
      <p> &copy; Copyright 2011 KnightFinder. All Rights Reserved.</p>
    </footer>
  </body>
</html>
