<!doctype html>
<html>
<head>
  <title>KnightFinder</title>
  <link rel="stylesheet" href="/css/bootstrap-1.2.0.min.css">
  <link rel="stylesheet" href="/css/style.css">
  
</head>
<body>
  
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <h3><a href="/">KnightFinder</a></h3>
        <ul>
          <li class="active"><a href="#">Dashboard</a></li>
          <li><a href="#">Settings</a></li>
        </ul>
      </div>
    </div><!-- /fill -->
  </div>
  
  
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
